body, html {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  text-align: center;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
  background: url("../images/bg.jpg") #333;
  background-size: cover; }

* {
  font-family: 'Advent Pro', sans-serif;
  font-weight: bold;
  text-transform: uppercase; }

.animate, .insanity #signup-button, .insanity #signup-email {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.insanity body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100%;
  position: absolute; }
.insanity .bg {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0; }
.insanity .ibg-bg {
  position: absolute;
  z-index: -1; }
.insanity .dotts {
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
  z-index: 999;
  min-height: 100%; }
.insanity .tile {
  background-color: #161616;
  color: white;
  padding: 50px;
  margin-top: 190px; }
  .insanity .tile img {
    margin-top: -40px;
    margin-bottom: -20px; }
  .insanity .tile #clockdiv {
    margin-left: -10px;
    background: #111;
    padding: 15px; }
    .insanity .tile #clockdiv .days, .insanity .tile #clockdiv .hours, .insanity .tile #clockdiv .minutes, .insanity .tile #clockdiv .seconds {
      font-size: 90px;
      text-align: left;
      font-weight: 100; }
    .insanity .tile #clockdiv .smalltext {
      color: #777;
      margin-top: -10px;
      text-align: center;
      font-weight: bold;
      font-size: 15px; }
.insanity .bg-home {
  background: url("../images/bg.jpg");
  background-size: 100%; }
.insanity .tile-wrapper {
  background-color: #161616; }
.insanity .tile-home {
  background-color: #161616;
  color: white;
  padding: 50px;
  margin-top: 30px; }
  .insanity .tile-home h3 {
    text-align: left;
    text-transform: uppercase;
    font-size: 13px;
    margin: 20px 6px -32px;
    font-weight: bold;
    color: #aaa; }
.insanity .tile-contact, .insanity .tile-questions {
  background-color: #161616;
  color: white;
  padding: 50px;
  margin-top: 30px; }
  .insanity .tile-contact .form-horizontal, .insanity .tile-questions .form-horizontal {
    padding-top: 20px; }
    .insanity .tile-contact .form-horizontal .form-control, .insanity .tile-questions .form-horizontal .form-control {
      border-radius: 0;
      padding: 20px;
      background: #222;
      border-color: transparent;
      color: #aaa; }
      .insanity .tile-contact .form-horizontal .form-control:focus, .insanity .tile-contact .form-horizontal .form-control .btn, .insanity .tile-questions .form-horizontal .form-control:focus, .insanity .tile-questions .form-horizontal .form-control .btn {
        border-color: #293750;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(41, 55, 80, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(41, 55, 80, 0.6); }
    .insanity .tile-contact .form-horizontal label.label-floatlabel, .insanity .tile-questions .form-horizontal label.label-floatlabel {
      font-weight: bold;
      font-size: 11px; }
    .insanity .tile-contact .form-horizontal label, .insanity .tile-questions .form-horizontal label {
      padding: 8px 14px;
      color: white !important; }
    .insanity .tile-contact .form-horizontal textarea, .insanity .tile-questions .form-horizontal textarea {
      min-width: 100%;
      max-width: 100%; }
.insanity #signup-button {
  background: #232323;
  padding: 20px 30px;
  border: none;
  color: #999; }
  .insanity #signup-button:active, .insanity #signup-button:focus {
    outline: #293750;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(41, 55, 80, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(41, 55, 80, 0.6); }
  .insanity #signup-button:hover {
    background: #212121;
    color: #fff; }
.insanity #signup-email {
  background: #111;
  padding: 20px 30px;
  border: 1px solid #111; }
  .insanity #signup-email:active, .insanity #signup-email:focus {
    outline: #293750;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(41, 55, 80, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(41, 55, 80, 0.6); }
  .insanity #signup-email:hover {
    border: 1px solid #333; }
.insanity #response {
  padding: 10px;
  min-height: 50px; }
  .insanity #response .fa {
    display: none; }
  .insanity #response.loading .fa {
    display: inline-block; }

/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .insanity .tile {
    padding: 30px; }
    .insanity .tile img {
      margin-bottom: -40px; }
    .insanity .tile h1 {
      font-size: 50px; }
    .insanity .tile #clockdiv .smalltext {
      text-align: center; }
    .insanity .tile #clockdiv span {
      font-size: 50px !important; }

  .insanity #signup-email, .insanity #signup-button {
    width: 100%;
    margin: 5px 0; } }
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .insanity .tile h1 {
    text-align: center;
    display: inline-block; }

  .insanity .tile .split {
    margin: 5px auto; } }
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */

/*# sourceMappingURL=pgc.css.map */
